.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  height: 2.8rem;
  padding: 0 1.5rem;
  margin-right: 1rem;

  background-color: var(--cl-background);
  border: 1px solid var(--cl-text-medium);
  border-radius: 8px;

  font-weight: bold;
  color: var(--cl-text-medium);
  font-size: 0.8rem;
  transition: background-color 0.2s ease;

  &:hover:not([disabled]) {
    background-color: var(--cl-text-medium);
    color: var(--cl-background);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.accent {
  color: var(--cl-accent);
  border-color: var(--cl-accent);

  &:hover:not([disabled]) {
    background-color: var(--cl-accent);
  }
}

.warn {
  color: var(--cl-error);
  border-color: var(--cl-error);

  &:hover:not([disabled]) {
    color: var(--cl-background);
    background-color: var(--cl-error);
  }
}

.filled {
  background-color: var(--cl-accent);
  color: var(--cl-background);
  border: none;

  &:hover:not([disabled]) {
    background-color: var(--cl-accent);
    color: var(--cl-background);
  }
}

.text {
  background-color: transparent;
  color: var(--cl-accent);
  border: none;

  &:hover:not([disabled]) {
    background-color: transparent;
    color: var(--cl-accent);
    border: none;
  }
}

.linkWrap {
  display: contents !important;
}
