.main {
  p {
    color: var(--slate-grey);
  }

  h2,
  h3 {
    font-weight: 500;
    color: #000;
  }
}

.container {
  width: 55rem;
  margin: initial;
  margin-left: 15vw;

  @media (max-width: 1020px) {
    margin: auto;
  }

  @media (max-width: 720px) {
    max-width: 95%;
  }
}
