.textbox {
  border-radius: 0.3rem;
  padding: 0.7rem 1rem;
  color: var(--cl-text-medium);
  font: inherit;
  font-size: 1.2rem;
  box-sizing: border-box;
  resize: none;
  background-color: #f1f3f4;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover, 
  &:focus {
    background-color:rgba(0, 0, 0, 0.08)
  }

  transition: background-color 0.25s ease;
}
