:root {
  --primary: #ff004b;
  --primarytext: #fff;
  --secondary: #182064;

  --border-lightgray: #d0d2d6;

  --slate: #708090;
  --darkgray: #303030;

  --orange: #fe2813;
  --pink: #ff004b;
  --brownish-grey: #646464;
  --slate-grey: #5f6163;
  --blue-grey: #898b8e;
  --light-grey: #c8c5c5;

  --cl-text-light: #bdbdbd;
  --cl-text-medium: #828282;
  --cl-text-strong: #4f4f4f;
  --cl-background: #fff;
  --cl-accent: #ff205c;
  --cl-accent-light: #fff4f7;

  --cl-primary: #ff004b;
  --cl-secondary: #2c3976;
  --cl-error: #ff3d00;

  --border-radius: 0.57rem;
}
