:root {
  --slate-grey: #5f6163;
  --cl-text-light: #bdbdbd;
  --cl-text-medium: #828282;
  --cl-text-strong: #4f4f4f;
  --cl-background: #fff;
  --cl-accent: #ff205c;
  --cl-accent-light: #fff4f7;
  --cl-primary: #ff004b;
  --cl-secondary: #2c3976;
  --cl-error: #ff3d00;
  --border-radius: 0.57rem;
}
