.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;

  input {
    width: 100%;
    margin-bottom: 1rem;
  }

  button {
    margin-top: 2rem;
    width: 100%;
  }
}
