.header {
  z-index: 1100;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav {
  z-index: 5;
  height: 4rem;
  background: white;
  transition: 0.5s ease box-shadow;
  display: flex;
  padding-top: 10px;
  padding-right: 150px;
  align-items: center;
}

.scroll {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  background-color: white;

  &.MentorPageNav {
    width: 70%;
    max-width: 68rem;
  }
}

.SearchWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.profilepic {
  max-width: 2.2rem;
  max-height: 2.2rem;
  border-radius: 20%;
  cursor: pointer;
}

.MenuWrapper {
  margin-top: 9px;
  position: absolute;
  right: 200px;
  outline: none;
}

.dropdown {
  margin-left: auto;
  display: none;
  &.ShowMenu {
    display: block;
    position: absolute;
    right: -67px;
    width: 171px;
    top: 52px;
    background-color: white;
    color: var(--blue-grey);
    font-size: 1rem;
    padding: 15px 0;
    border-radius: 0.25rem;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }

  ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 85px;
    z-index: 0;
    background-color: white;
    width: 1rem;
    height: 1rem;
    border: 1px solid #dadada;
    border-bottom: 0;
    border-right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }

    a{
      color:#898b8e;
      transition: .25s ease-in-out all;
      padding: 0.5rem  1rem;

      cursor: pointer;
      &:hover{
        background-color: #c8c5c5;
      }
    }

  li {
    color: #898b8e;
    padding: 0.5rem 1rem;
  }
}

.learnMoreWrapper {
  display: flex;
  position: absolute;
  right: 200px;
  align-items: center;
  white-space: nowrap;
  align-self: center;

  .learnMore {
    background-color: #ff205c;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 15px 40px 15px 40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    outline: none;
  }
}
@media all and (max-width: 1760px) and (min-width: 1600px) {
  .SearchWrapper {
    padding: 0 10px;
  }
}

@media (max-width: 1400px) {
  .MenuWrapper {
    right: 100px;
  }
  .learnMoreWrapper {
    right: 20px;
  }
}

@media (max-width: 720px) {
  nav {
    padding-right: 100px;
  }
  .wrapper {
    justify-content: center;
    .MenuWrapper {
      display: none;
    }
    .SearchWrapper {
      min-width: 300px;
    }
  }

  .learnMore {
    display: none;
  }
}

@media (max-width: 450px) {
  nav {
    padding-right: 0px;
  }
}
