nav {
  z-index: 5;
  width: 100%;
  height: 4rem;
  background: white;
  transition: 0.5s ease box-shadow;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.active{
  box-shadow:  0 0 5px rgba(0, 0, 0, .1);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
  width: 100%;
  height: 90%;
  background-color: white ;

}

.SearchWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.profilepic {
  max-width: 2.2rem;
  max-height: 2.2rem;
  border-radius: 20%;
  cursor: pointer;
}

.MenuWrapper{
  margin-top: 20px;
  position: relative;
  right:30px;
  outline: none;
}

.dropdown{
  margin-left: auto;
  display: none;
  &.ShowMenu{
    display: block;
    position: absolute;
    right: -76px;
    width: 160px;
    top: 50px;
    background-color:white;
    color: var(--blue-grey);
    font-size: 1rem;
    padding: 16px;
    border-radius: 0.25rem;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
  }

  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 98px;
    z-index: 0;
    background-color: white;
    width: 1rem;
    height: 1rem;
    border: 1px solid #dadada;
    border-bottom: 0;
    border-right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    }

    a{
      color:#898b8e;
    }

    li{
    color: var(--blue-grey);
    transition: .25s ease-in-out all;
    cursor: pointer;
    padding: 0.5rem  0.5rem;
    width: 100%;
    }

    :hover{
      background-color: #c8c5c5;
    }
}

.learnMoreWrapper{
  display: flex;
  align-items: center;

  .learnMore{
    padding: .4rem .8rem;
    border-radius: 24px;
    background-color: #ff004b;
    color: white;
  }

}

@media (max-width: 720px){
  .wrapper{
    justify-content: center;
    .MenuWrapper{
      display: none;
    }
    .SearchWrapper{
      min-width: 300px;
    }
  }
  
}