.account {
  & > h2:first-child {
    margin-top: 0;
  }

  & > div:first-of-type {
    margin-bottom: -1.5rem;
  }
}

.privacyCheck {
  display: flex;
  margin-top: 2rem;
  align-items: center;

  * {
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    margin-left: 1rem;
  }
}
