@import 'styles/layout.scss';

.calendar {
  :global {
    .rbc-calendar {
      height: $calendar-height;
    }

    .rbc-event {
      border: none !important;
      color: white !important;
    }

    .rbc-time-content {
      overscroll-behavior: none;
    }
  }
}

.internalEvent {
  background-color: var(--cl-primary) !important;
}

.externalEvent {
  background-color: var(--cl-secondary) !important;
}
