.overlay {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555a;
  backdrop-filter: blur(1px);
}

.confirmBox {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--cl-background);
  padding: 1rem;
  border-radius: var(--border-radius);

  h4 {
    margin-top: 0;
  }

  input {
    width: 100%;
  }
}

.btWrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  button {
    width: calc(50% - 0.5rem);
    margin: 0;
  }
}
