.select {
  display: flex;

  button {
    appearance: none;
    display: block;
    width: 5.5rem;
    height: 2.5rem;
    border: 1px solid var(--cl-text-light);
    margin-right: -1px;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
    }

    &:last-child {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }

    font-weight: bold;
    color: var(--cl-text-medium);
    font-size: 0.8rem;

    &:focus {
      outline: none;
    }
  }
}

.active {
  background-color: var(--cl-accent-light);
  color: var(--cl-accent) !important;
}
