.hint {
  font-size: 0.8rem;
  color: var(--cl-text-medium);
  margin-top: 0.5rem;
  margin-bottom: 0;
  height: 0.8rem;

  *[data-type='error'] > & {
    color: var(--cl-error);
  }

  p,
  span,
  a {
    display: inline;
  }
}

.item {
  label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--cl-text-strong);
    margin-top: 0;

    span {
      color: var(--cl-primary);
    }
  }

  input,
  textarea {
    width: 100%;
  }
}

.btWrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  & > *:not(p):last-child {
    margin-left: 6vw;
    flex-shrink: 0;
  }

  button {
    width: 10.5rem;
  }
}
