.notifications {
  & > h2:first-child {
    margin-top: 0;
  }

  & > h2 {
    margin-top: 2rem;
  }
}

.emailCheck {
  display: flex;
  margin-top: 2rem;
  align-items: baseline;

  p {
    margin-left: 1rem;
  }
}
