@import 'styles/layout.scss';
@import 'styles/utils.scss';

.settings {
  padding-top: 7rem !important;
  box-sizing: border-box;
}

.rightColumn {
  box-sizing: border-box;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: $settings-left-column-width;
  width: $settings-content-width;

  @media (max-width: calc(#{$settings-content-width} / ((100 - #{strip-unit($settings-left-column-width)}) / 100))) {
    width: calc(100vw - #{$settings-left-column-width});
    margin-left: $settings-left-column-width;
  }

  @media (max-width: calc(#{$settings-nav-min-width} / #{(strip-unit($settings-left-column-width) / 100)})) {
    width: calc(100vw - #{$settings-nav-min-width});
    margin-left: $settings-nav-min-width;
  }
}
