* {
  font-family: 'Poppins';
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-display: swap; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* COLOR */
:root {
  --primary: #ff004b;  
  --primarytext: #fff;

  --border-lightgray: #d0d2d6;

  --slate: #708090;
  --darkgray: #303030;

  --orange: #fe2813;
  --pink: #ff004b;
  --brownish-grey: #646464;
  --slate-grey: #5f6163;
  --blue-grey: #898b8e;
  --light-grey: #c8c5c5;
}

.color-primary {
  color: var(--primary);
}



.warning {
  color: var(--primary);
}

/* FONT SIZES */
.font-100 {
  font-size: 1rem;
}

.font-150 {
  font-size: 1.5rem !important;
}

.font-200 {
  font-size: 2rem;
}

/* TEXT */
p {
  margin: 0;
}

a,
a:active,
a:hover,
a:visited {
  color: black;
  text-decoration: none;
  display: block;
}

a.link {
  display: unset;
}

p.light-grey,
h1.light-grey,
h2.light-grey,
h3.light-grey,
h4.light-grey,
h5.light-grey,
h6.light-grey,
label.light-grey {
  color: var(--light-grey);
}

.font-weight-thin {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase; 
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

/* POSITION */
.block {
  display: block;
}

/* FLEXBOX */
.flex {
  display: flex;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.align-center {
  align-content: center;
}

.flex.align-items-center {
  align-items: center;
}

.flex.self-center {
  align-self: center;
}

/* GRID */
.grid {
  display: grid;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ALIGNING */
.center {
  margin: 0 auto;
}

.right {
  margin-left: auto;
}

/* INPUTS */
label {
  display: block;
  margin: 0.25rem 0;
}

input {
  /* font-family: 'Poppins'; */
  font-size: 2rem;
  box-sizing: border-box;
  border-radius: 0.125rem;
  outline: none;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.25rem;
  outline: none;
}

textarea {
  /* font-family: 'Poppins'; */
  color: var(--blue-grey);
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.25rem;
  outline: none;
  resize: none;
}

select {
  font-size: 1rem;
  color: var(--blue-grey);
  padding: 1rem 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.25rem;
  outline: none;
}

/* FORM/INPUT GROUPS */
.input-group:not(:last-of-type) {
  margin-bottom: 2rem;
}

.input-group h2 {
  font-weight: normal;
  color: var(--brownish-grey);
}

.input-group label {
  color: var(--blue-grey);
}

/* FILE INPUT */
input[type="file"] {
  display: none;
}

/* BUTTONS */
.btn {
  font-weight: 700;
  letter-spacing: 0.01rem;
  width: 10rem;
  background: none;
  padding: 0.5rem;
  border: 1px solid var(--light-grey);
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  height: 2.8rem;

  --bc: var(--blue-grey);
  --color: var(--blue-grey);
}

.btn:not(.btn-fill) {
  border: 1px solid var(--color);
  color: var(--color);
}

.btn:not(.btn-fill):hover {
  background-color: var(--bc);
  color: var(--primarytext);
  transition: .25s ease-in-out all;
}

.btn.btn-round {
  border-radius: 10rem;
}

.btn.btn-fill {
  background-color: var(--bc);
  color: var(--primarytext);
  border: none;
}

.btn.btn-primary {
  --bc: var(--primary);
  --color: var(--primary);
}

/* CONTAINERS */
.App {
  margin-bottom: 1rem;
}

.App main {
  padding: 6rem 0;
}

.container {
  width: 75rem;
  max-width: 70%;
  margin: 0 auto;
}

.field-group {
  margin: 1rem 0;
}

/* CARDS */
.card {
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  transition: .2s ease box-shadow;
}

.card.hoverable:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

/* LOGO AND IMAGES */
img.logo {
  max-height: 2.5rem;
  width: 10rem;
  max-width: 10rem;
}

img {
  object-fit: contain;
}

/* HORIZONTAL BREAK */
.hr {
  height: 1px;
  background-color: var(--border-lightgray);
  margin: 2rem 0 2rem 0;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 4rem;
  background: #fff;
  box-shadow:  0 0 5px rgba(0, 0, 0, .1);
}

nav .wrapper {
  width: 90rem;
  max-width: 75%;
  height: 100%;
  margin: 0 auto;
}

nav .wrapper #logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper div {
  margin-left: auto;
}

nav .wrapper .dropdown img {
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

nav .wrapper .dropdown:not(.active) ul {
  margin-left: auto;
  display: none;
}

nav .wrapper .dropdown.active ul {
  display: block;
  position: absolute;
  top: 4rem;
  background-color: #fff;
  color: var(--blue-grey);
  font-size: 1rem;
  padding: 1rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5);
}

nav .wrapper .dropdown.active ul::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border: 1px solid #dadada;
  border-bottom: 0;
  border-right: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  /* box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.5); */
}

nav .wrapper .dropdown ul li {
  color: var(--blue-grey);
  padding: 0.5rem;
  transition: .25s ease-in-out all;
  cursor: pointer;
  padding: 0.5rem 5rem 0.5rem 1rem;
}

nav .wrapper .dropdown ul li:hover {
  background-color: var(--light-grey);
}

nav .wrapper .dropdown ul a {
  color: var(--blue-grey);
}

/* POPULAR TAGS */
.popular-tags h2 {
  color: var(--darkgray);
  margin: 0 0 1rem 0;
}

.popular-tags div {
  display: flex;
  flex-wrap: wrap;
}

.popular-tags .tag-item {
  display: block;
  color: var(--darkgray);
  padding: 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: .25rem;
}

.popular-tags .tag-item:not(:last-of-type) {
  margin-right: 1.5rem;
}

/* BREADCRUMBS */
.breadcrumbs {
  z-index: 5;
  display: flex;
  text-transform: uppercase;
  color: var(--greyish-brown);
  font-size: 12px;
}

.breadcrumbs a {
  display: flex;
}

.breadcrumbs li {
  display: flex;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: '>';
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

/* HOME PAGE */
#home .card.mentor-card {
  padding: 0;
  margin: 1.5rem auto;
}

#home .card.mentor-card img {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

#home .card.mentor-card .mentor-info {
  /* margin: 1.3rem 0rem 2rem 2rem; */
  margin: 0.8rem 2rem 0rem 2rem;
}

#home .card.mentor-card .mentor-info h1 {
  font-size: 1.75rem;
}

#home .card.mentor-card .mentor-info p#role-company {
  font-size: 1rem;
  margin: 0 0 0.6rem 0;
}

#home .card.mentor-card .mentor-info #bio {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

#home .card.mentor-card .mentor-info #tags {
  flex-wrap: wrap;
  margin: .65rem .75rem 0 0;
}

#home .card.mentor-card .mentor-info #tags .mentor-tag {
  padding: 0.5rem 1rem;
}

/* #home .mentor-list > a {
  display: block;
  border: 1px solid var(--border-lightgray);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

#home .mentor-list img {
  object-fit: contain;
  max-width: 12.5rem;
  max-height: 12.5rem;
}

.mentor-card-info {
  margin-left: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
  flex-basis: 100%;
}

.mentor-card-info h1,
.mentor-card-info p {
  margin: 0;
}

.mentor-card-info p {
  color: #606060;
}

.mentor-card-info a {
  display: unset;
}

.mentor-card-info p:nth-of-type(2) {
  margin-top: 1rem;
}

.mentor-card-tags {
  display: block;
  list-style-type: none;
}

.mentor-card-tag {
  border: 1px solid var(--border-lightgray);
}

.mentor-card-info #tags {
  flex-wrap: wrap;
  margin: 0.9rem .75rem 0.9rem 0;
}

.mentor-card-info #tags .mentor-tag {
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  color: var(--brownish-grey);
  padding: 0.8rem 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: 10rem;
  margin: 0 .5rem 0.5rem 0;
} */

/* SETTINGS PAGE */

#settings.grid {
  grid-template-columns: 20% 80%;
  max-width: 90%;
  margin: unset auto 0 2rem;
}

#settings input[type="text"],
#settings input[type="email"],
#settings input[type="password"] {
  font-size: 1.5rem;
}

#settings input[type="text"] {
  height: 60px;
}

#settings #tablist {
  padding: 12.5rem 0 0 1rem;
}

#settings #tablist label {
  color: var(--light-grey);
  transition: .25s ease-in-out color;
  cursor: pointer;
  position: fixed;
}

#account-label {
  margin-top: 35px;
}

#sync-label {
  margin-top: 67px;
}

#settings #tablist label.active {
  color: var(--primary);
  position: fixed;
}

#settings .tab {
  width: 75%;
}

/* PUBLIC TAB */
#settings-publictab div:first-of-type .profile-pic {
  min-width: 12rem;
  max-width: 12rem;
  min-height: 12rem;
  max-height: 12rem;
  margin-right: 3rem;
}

#settings-publictab #bio {
  margin-bottom: 3rem;
}

#settings-publictab div:first-of-type #bio h1 {
  color: var(--brownish-grey);
  margin-bottom: 0.25rem;
}

#settings-publictab div:first-of-type #bio p {
  color: var(--blue-grey);
}

#settings-publictab div:first-of-type #bio p:last-of-type {
  margin: .25rem 0 1rem 0;
}

#settings-publictab div:first-of-type #bio .btn:first-of-type {
  margin-right: 1rem;
}

#settings-publictab div:nth-of-type(2) label,
#settings-publictab div:nth-of-type(2) input {
  color: var(--blue-grey);
}

#settings-publictab div:nth-of-type(2) input:not([type='checkbox']) {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#settings-publictab #bio-text {
  width: 100%;
  height: 12rem;
  font-size: 18px;
}

.fixed-save-changes {
  box-shadow: 5px 0 5px rgba(0, 0, 0, .1);
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 110px;
  bottom: 0;
  background-color: white;
}

.save-changes {
  margin: 30px 69.2%;
}

#settings-accounttab p a {
  display: inline;
}

#newsfeed {
  margin: 0
}

/* ACCOUNT TAB */
#settings-accounttab h1 {
  color: var(--brownish-grey);
  margin-bottom: .5rem;
}

#settings-accounttab p {
  color: var(--blue-grey);
  margin-bottom: .5rem;
}

/* SYNC TAB */
#settings-synctab h1 {
  color: var(--brownish-grey);  
}

#settings-synctab #calendar-list {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: var(--blue-grey);
}

#settings-synctab #calendar-list #calendar-item {
  flex-basis: 33%;
}

#settings-synctab #controls {
  margin-bottom: 1rem;
}

#settings-synctab #calendar {
  grid-template-columns: 8fr 1fr;
  grid-column-gap: 1rem;
}


/* MENTOR PAGE */

/* MENTOR CARD */
.card.mentor-card {
  display: flex;
  flex-wrap: wrap;
  color: var(--slate-grey);
  padding: 3rem;
  margin-top: 1.5rem;
}

.card.mentor-card > div,
.card.mentor-card > span {
  flex-basis: 100%;
}

.card.mentor-card > div:first-of-type {
  display: flex;
}

.card.mentor-card .mentor-profilepic {
  min-width: 12rem;
  max-height: 12rem;
  border-radius: 0.18rem;
}

.card.mentor-card h1 {
  font-size: 1.375rem;
  letter-spacing: 0.03125rem;
  color: #000;
  margin: 0;
}

.card.mentor-card p {
  font-size: 1rem;
  letter-spacing: 0.0125rem;
  margin: 0;
}

.card.mentor-card .mentor-info {
  margin-left: 2rem;
}

.card.mentor-card .mentor-info p:not(:last-of-type) {
  margin: 0.2rem 0;
}

.card.mentor-card .mentor-info #location i.icon {
  margin-right: 0.5rem;
}

.card.mentor-card .mentor-info #location .location-icon {
  margin-right: 0.3rem;
}

.card.mentor-card .mentor-info #tags {
  flex-wrap: wrap;
  margin: 0.9rem .75rem 0.9rem 0;
}

.card.mentor-card .mentor-info #tags .mentor-tag {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--brownish-grey);
  padding: 0.8rem 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: 10rem;
  margin: 0 .5rem 0.5rem 0;
}

.card.mentor-card .mentor-info #bio {
  line-height: 1.8rem;
}

.card.mentor-card .mentor-card-slots {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.card.mentor-card .mentor-card-slots > * {
  box-sizing: border-box;
  height: 100%;
  min-height: 52px;
}

.card.mentor-card .mentor-card-slot {
  box-sizing: border-box;
  color: #000;
  font-size: 0.9rem;
  letter-spacing: 0.0125rem;
  padding: .5rem 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: 0.2rem;
  cursor: pointer;
  transition: .25s ease-in-out all;
}

.card.mentor-card .mentor-card-slot.active {
  border-color: var(--primary);
  box-shadow: 0 0 .25rem 0 var(--primary);
}

.card.mentor-card .mentor-card-slot > div {
  display: flex;
}

.card.mentor-card .mentor-card-slot span#month {
  display: block;
  font-size: 0.75rem;
  color: var(--orange);
}

.card.mentor-card .mentor-card-slot span#day {
  display: block;
  font-size: 1.125rem;
  text-align: center;
}

.card.mentor-card .mentor-card-slot > div div:last-of-type {
  margin-left: 1rem;
}

.card.mentor-card button#request {
  letter-spacing: 0.10625rem;
  width: 100%;
  height: 100%;
}

.copy-url {
  position: absolute;
  top: 26rem;
  left: 5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.5);
  background-image: url('img/chainGrey.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.copy-url:hover {
  background-color: var(--primary);
  background-image: url('img/chainWhite.png');
}

/* LOGIN */ 
#login .container input {
  padding: 1rem;
}

/* Tags */

div.ReactTags__tags {
  position: relative;
  margin-top: 1em;
}

div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

div.ReactTags__selected span.ReactTags__tag {
  display: inline-flex;
  background: #eee;
  font-size: 0.75rem;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0.125rem;
  margin: 0 5px 1em 0;
  cursor: move;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

/* Tags */

/*
.mentor-tags-list {
  list-style: none;
  margin: 10px 0 0 0;
  overflow: hidden;
  padding: 0;
}
*/

.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  width: 100vw;
  background-color: rgba(27, 36, 65, 0.75);
}

.mentor-meetup-popup {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.mentor-meetup-popup h1 {
  margin: 0rem auto 1rem auto;
}

.mentor-meetup-popup .close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: .25s ease-in-out all;
}

.mentor-meetup-popup .close:hover {
  color: var(--primary);
}

.mentor-meetup-popup .hr {
  width: 95%;
  margin: 0 auto 2rem auto;
}

.mentor-meetup-popup > div:first-child {
  display: flex;
  justify-items: center;
}

.mentor-meetup-popup > div:first-child h1 {
  color: var(--brownish-grey);
  letter-spacing: 0.03125rem;
}

.mentor-meetup-popup .meetup-options {
  width: 90%;
  margin: 0 auto;
}

.mentor-meetup-popup .meetup-option {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 1.5rem;
  transition: .25s ease-in-out background-color;
}

.mentor-meetup-popup .meetup-option:hover {
  background-color: #d3d3d3;
}

.mentor-meetup-popup .meetup-option img {
  margin-right: 2rem;
}

.mentor-meetup-popup .meetup-option h1 {
  color: var(--primary);
  margin: 0;
}

.mentor-meetup-popup .meetup-option p {
  color: var(--slate-grey);
  letter-spacing: 0.0125rem;
  margin: 0;
}

.mentor-meetup-popup input,
.mentor-meetup-popup textarea {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  width: 100%;
}


/* MEETUP OPTION SPECIFIC */
.mentor-meetup-popup#coffee span.hr {
  width: 100%;
  margin: 0 auto 2rem auto;
}

.mentor-meetup-popup #meetup-form > * {
  margin-bottom: 1rem;
} 

.screen {
  margin-top: 100px;
}

/* LOADER */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin-top: 20vh;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--primary);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Toast */

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--primary); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 99; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* BROWSER BUGFIXING/ISSUE FIXING */

/* Remove Firefox's automatic text outline when button is clicked */
button::-moz-focus-inner {
  border: 0;
}


/* MEDIA QUERIES */


/* LARGER SCREENS */
@media (min-width: 1020px) {
  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1350px) {
  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* MEDIUM AND SMALL SCREENS */
@media (max-width: 1020px) {
  .container {
    max-width: 95%;
  }

  #home .card.mentor-card {
    width: 85vw;
  }

  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(4, 1fr);
  }

  .copy-url {
    display: none;
  }
}

@media (max-width: 860px) {
  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  #home .mentor-list a {
    display: block;
    max-width: 18rem;
    margin: 0 auto;
  }

  #home .card.mentor-card {
    max-width: 18rem;
  }

  #home .card.mentor-card > div {
    flex-direction: column;
    max-width: 18rem;
  }

  #home .card.mentor-card img {
    min-width: 18rem;
    max-height: 18rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #home .card.mentor-card .mentor-info {
    margin: 1rem;
  }

  #home .card.mentor-card .mentor-info #bio {
    -webkit-line-clamp: 4;
  }

  #home .card.mentor-card .mentor-info #tags {
    margin: .65rem 0 0 0;
  }
}

@media (max-width: 640px) {
  nav .wrapper {
    max-width: 95%;
    width: 95%;
  }

  #people .card.mentor-card {
    padding: 1rem;
  }

  #people .card.mentor-card > div:first-of-type {
    flex-direction: column;
  }

  #people .card.mentor-card .mentor-info #name {
    margin-top: 1rem;
  }

  #people .card.mentor-card .mentor-info #location {
    justify-content: center;
  }

  #people .card.mentor-card ul#tags {
    justify-content: center;
    margin: 1rem auto;
  }

  #people .card.mentor-card h1,
  #people .card.mentor-card p:not(:last-of-type) {
    text-align: center;
  }

  #people .card.mentor-card .mentor-info {
    margin: 0;
  }

  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(3, 1fr);
  }

  #people .mentor-meetup-popup {
    max-width: 100%;
    width: 30rem;
  }

  #login > div {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  #people .card.mentor-card .mentor-card-slots {
    grid-template-columns: repeat(2, 1fr);
  }

  #people .mentor-meetup-popup {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }

  #people .mentor-meetup-popup .meetup-options {
    width: 100%;
  }

  #people .mentor-meetup-popup .meetup-option {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }

  #people .mentor-meetup-popup .meetup-option img {
    margin: 0 auto;
    max-width: 4rem;
  }
}