body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary: #ff004b;

    --primarytext: #fff;

    --light-gray: #c2c5ca;
}

/* * * * * * * * *
 * TEXT
 * * * * * * * * */
a,
a:active,
a:hover,
a:visited {
    color: black;
    text-decoration: none;
}

p.light-gray,
h1.light-gray,
h2.light-gray,
h3.light-gray,
h4.light-gray,
h5.light-gray,
h6.light-gray,
label.light-gray,
input.light-gray {
    color: var(--light-gray);
}

/* * * * * * * * *
 * FLEXBOX
 * * * * * * * * */
.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-content: center;
}

.flex.items-center {
    align-items: center;
}

.flex.self-center {
    align-self: center;
}

/* * * * * * * * *
 * LIST
 * * * * * * * * */
ul {
    list-style: none;
    padding: 0;
}

/* * * * * * * * *
 * ALIGNING
 * * * * * * * * */
.center {
    margin: 0 auto;
}

/* * * * * * * * *
 * INPUTS
 * * * * * * * * */
label {
    display: block;
    margin: 0.25rem 0;
}

input {
    font-size: 2rem;
    border-radius: 0.125rem;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.125rem;
    outline: none;
}

/* * * * * * * * *
 * BUTTONS
 * * * * * * * * */
.btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0.5rem;
    border: 1px solid var(--light-gray);
    border-radius: 0.2rem;
    outline: none;
    width: 10rem;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-primary {
    background: var(--primary);
    color: var(--primarytext);
    border: none;
}

/* * * * * * * * *
 * CONTAINERS
 * * * * * * * * */
.App main {
    padding-top: 2rem;
}

.container {
    width: 75rem;
    max-width: 90%;
    margin: 0 auto;
}

.field-group {
    margin: 1rem 0;
}

/* * * * * * * * *
 * LOGO
 * * * * * * * * */
img.logo {
    max-height: 2.5rem;
    width: 10rem;
    max-width: 10rem;
    object-fit: contain;
}

/* * * * * * * * *
 * NAVBAR
 * * * * * * * * */
nav {
    height: 4rem;
    border-bottom: 1px solid var(--light-gray);
}

nav .wrapper {
    width: 90rem;
    max-width: 75%;
    height: 100%;
    margin: 0 auto;
}

nav .wrapper a#logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav .wrapper ul {
    margin-left: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="file"] {
  display: none;
}

/* Tags */
div.ReactTags__tags {
  position: relative;
  margin-top: 1em;
}

/* Styles for the input */

/*
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}
*/

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px 1em 0;
  cursor: move;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.mentor-cards {
  border-style: solid;
}
