body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #ff004b;  
  --primarytext: #fff;

  --light-gray: #c2c5ca;
  --border-lightgray: #d0d2d6;

  --slate: #708090;
  --darkgray: #303030;

  --orange: #fe2813;
  --pink: #ff004b;
  --brownish-grey: #646464;
  --slate-grey: #5f6163;
  --blue-grey: #898b8e;
  --light-grey: #c8c5c5;
}

/* * * * * * * * *
 * TEXT
 * * * * * * * * */
a,
a:active,
a:hover,
a:visited {
  color: black;
  text-decoration: none;
  display: block;
}

a.link {
  display: unset;
}

p.light-gray,
h1.light-gray,
h2.light-gray,
h3.light-gray,
h4.light-gray,
h5.light-gray,
h6.light-gray,
label.light-gray {
  color: var(--light-gray);
}

.font-weight-thin {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase; 
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

/* POSITION */
.block {
  display: block;
}

/* FLEXBOX */
.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justify-center {
  justify-content: center;
}

.flex.align-center {
  align-content: center;
}

.flex.items-center {
  align-items: center;
}

.flex.self-center {
  align-self: center;
}

/* GRID */
.grid {
  display: grid;
}

/* LIST */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ALIGNING */
.center {
  margin: 0 auto;
}

/* INPUTS */
label {
  display: block;
  margin: 0.25rem 0;
}

input {
  font-size: 2rem;
  border-radius: 0.125rem;
  outline: none;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.25rem;
  outline: none;
}

/* FORM/INPUT GROUPS */
.input-group:not(:last-of-type) {
  margin-bottom: 2rem;
}

.input-group h2 {
  font-weight: normal;
  color: var(--brownish-grey);
}

/* FILE INPUT */
input[type="file"] {
  display: none;
}

/* BUTTONS */
.btn {
  font-weight: 700;
  width: 10rem;
  background: none;
  padding: 1rem 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
  height: 55px;

  --bc: var(--blue-grey);
  --color: var(--blue-grey);
}

.btn:not(.btn-fill) {
  border: 1px solid var(--color);
  color: var(--color);
}

.btn:not(.btn-fill):hover {
  background-color: var(--bc);
  color: var(--primarytext);
  transition: .25s ease-in-out all;
}

.btn.btn-round {
  border-radius: 10rem;
}

.btn.btn-fill {
  background-color: var(--bc);
  color: var(--primarytext);
  border: none;
}

.btn.btn-primary {
  --bc: var(--primary);
  --color: var(--primary);
}

/* CONTAINERS */
.App {
  padding-bottom: 1rem;
}

.App main {
  padding-top: 2rem;
}

.container {
  width: 75rem;
  max-width: 70%;
  margin: 0 auto;
}

.field-group {
  margin: 1rem 0;
}

/* CARDS */
.card {
  padding: 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: 0.25rem;
  box-shadow: 0 0.5px 3px 0 rgba(0, 0, 0, 0.5);
}

/* LOGO AND IMAGES */
img.logo {
  max-height: 2.5rem;
  width: 10rem;
  max-width: 10rem;
}

img {
  object-fit: contain;
}

/* HORIZONTAL BREAK */
.hr {
  height: 1px;
  background-color: var(--border-lightgray);
  margin: 2rem 0 2rem 0;
}

/* NAVBAR */
nav {
  height: 4rem;
  box-shadow:  0 0 5px rgba(0, 0, 0, .1);
  margin-bottom: 5rem;
}

nav .wrapper {
  width: 90rem;
  max-width: 75%;
  height: 100%;
  margin: 0 auto;
}

nav .wrapper a#logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper ul {
  margin-left: auto;
}

/* CODE SECTION */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* POPULAR TAGS */
.popular-tags h2 {
  color: var(--darkgray);
  margin: 0 0 1rem 0;
}

.popular-tags div {
  display: flex;
  flex-wrap: wrap;
}

.popular-tags .tag-item {
  display: block;
  color: var(--darkgray);
  padding: 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: .25rem;
}

.popular-tags .tag-item:not(:last-of-type) {
  margin-right: 1.5rem;
}

/* BREADCRUMBS */
.breadcrumbs {
  z-index: 5;
  display: flex;
  text-transform: uppercase;
  color: var(--greyish-brown);
  font-size: 12px;
}

.breadcrumbs a {
  display: flex;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: '>';
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

/* .breadcrumbs li:not(:last-of-type) li {
  margin-right: 1rem;
} */

/* HOME PAGE */
#home .container.grid {
  grid-row-gap: 3rem;
}

#home .mentor-list > a {
  display: block;
  border: 1px solid var(--border-lightgray);
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

#home .mentor-list img {
  object-fit: contain;
  max-width: 12.5rem;
  max-height: 12.5rem;
}

.mentor-card-info {
  margin-left: 2rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
  flex-basis: 100%;
}

.mentor-card-info h1,
.mentor-card-info p {
  margin: 0;
}

.mentor-card-info p {
  color: #606060;
}

.mentor-card-info a {
  display: unset;
}

.mentor-card-info p:nth-of-type(2) {
  margin-top: 1rem;
}

/* SETTINGS PAGE */

#settings.grid {
  grid-template-columns: 20% 80%;
  max-width: 90%;
  width: 70rem;
  margin: 0 auto 0 2rem;
}

#settings #tablist {
  padding-top: 12.5rem;
}

#settings #tablist label {
  color: var(--light-grey);
  transition: .25s ease-in-out color;
  cursor: pointer;
}

#settings #tablist label.active {
  color: var(--primary);
}

#settings .tab {
  width: 80%;
}

/* PUBLIC TAB */
#settings-publictab div:first-of-type .profile-pic {
  max-width: 12rem;
  max-height: 12rem;
  margin-right: 2rem;
}

#settings-publictab div:first-of-type #bio h1 {
  color: var(--brownish-grey);
}

#settings-publictab div:first-of-type #bio p {
  color: var(--blue-grey);
  margin: 1rem 0 0 0;
}

#settings-publictab div:first-of-type #bio p:last-of-type {
  margin: .25rem 0 1rem 0;
}

#settings-publictab div:first-of-type #bio .btn:first-of-type {
  margin-right: 1rem;
}

#settings-publictab div:nth-of-type(2) label,
#settings-publictab div:nth-of-type(2) input {
  color: var(--blue-grey);
}

#settings-publictab div:nth-of-type(2) input {
  width: 100%;
  padding-left: 1.5rem;
}

/* MENTOR CARD (MENTOR PAGE) */
#people.container {
  padding-bottom: 4rem;
}

.card.mentor-card {
  display: flex;
  flex-wrap: wrap;
  color: var(--slate-grey);
  box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, .2);
  padding: 3rem;
  margin-top: 3rem;
}

.card.mentor-card > div,
.card.mentor-card > span {
  flex-basis: 100%;
}

.card.mentor-card > div:first-of-type {
  display: flex;
}

.card.mentor-card .mentor-profilepic {
  min-width: 12rem;
  max-height: 12rem;
  border-radius: 2px;

}

.card.mentor-card h1 {
  font-size: 2rem;
  letter-spacing: 0.03125rem;
  color: #000;
  margin: 0;
}

.card.mentor-card p {
  font-size: 1rem;
  letter-spacing: 0.0125rem;
  margin: 0;
}

.card.mentor-card .mentor-info {
  margin-left: 2rem;
}

.card.mentor-card .mentor-info .mentor-card-tags {
  display: flex;
}

.card.mentor-card .mentor-info .mentor-card-tags .mentor-tag {
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  color: var(--brownish-grey);
  padding: 1rem 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: 10rem;
  margin: 0 .75rem 0 0;
}

.card.mentor-card .mentor-card-slots {
  display: flex;
  flex-wrap: wrap;
}

.card.mentor-card .mentor-card-slot {
  flex-basis: 8rem;
  color: #000;
  font-size: 0.9rem;
  letter-spacing: 0.0125rem;
  padding: .5rem 1rem;
  border: 1px solid var(--border-lightgray);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: .25s ease-in-out all;
  max-height: 37.05px;
  max-width: 126.05px;
}

.card.mentor-card .mentor-card-slot.active {
  border-color: var(--primary);
  box-shadow: 0 0 .25rem 0 var(--primary);
}

.card.mentor-card .mentor-card-slot > div {
  display: flex;
}

.card.mentor-card .mentor-card-slot:not(:last-child) {
  margin-right: 1rem;
}

.card.mentor-card .mentor-card-slot span.month {
  display: block;
  color: var(--orange);
}

.card.mentor-card .mentor-card-slot span.day {
  display: block;
  text-align: center;
}

.card.mentor-card .mentor-card-slot > div div:last-of-type {
  margin-left: 1rem;
}

.card.mentor-card .mentor-card-slot-request {
  letter-spacing: 0.10625rem;
}

@media (max-width: 960px) {
  #people.container {
    max-width: 95%;
  }
}

@media (max-width: 640px) {
  #people.container .card.mentor-card > div:first-of-type,
  #people.container .card.mentor-card ul.mentor-card-slots {
    flex-direction: column;
  }

  #people.container .card.mentor-card ul.mentor-card-tags {
    justify-content: center;
    margin: 1rem auto;
  }

  #people.container .card.mentor-card h1,
  #people.container .card.mentor-card p:not(:last-of-type) {
    text-align: center;
  }

  .card.mentor-card .mentor-info {
    margin: 0;
  }
}

/* Tags */

div.ReactTags__tags {
  position: relative;
  margin-top: 1em;
}

div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;
    padding: 0 4px;
}

div.ReactTags__selected span.ReactTags__tag {
  display: inline-flex;
  background: #eee;
  font-size: 0.75rem;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0.125rem;
  margin: 0 5px 1em 0;
  cursor: move;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

/* Tags */

/*
.mentor-tags-list {
  list-style: none;
  margin: 10px 0 0 0;
  overflow: hidden;
  padding: 0;
}
*/

.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(27, 36, 65, 0.75);
}

.mentor-meetup-popup {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
  border-radius: 0.25rem;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.mentor-meetup-popup .close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: .25s ease-in-out all;
}

.mentor-meetup-popup .close:hover {
  color: var(--primary);
}

.mentor-meetup-popup .hr {
  width: 95%;
  margin: 0 auto 2rem auto;
}

.mentor-meetup-popup > div:first-child {
  display: flex;
  justify-items: center;
}

.mentor-meetup-popup > div:first-child h1 {
  color: var(--brownish-grey);
  letter-spacing: 0.03125rem;
}

.mentor-meetup-popup .meetup-options {
  width: 90%;
  margin: 0 auto;
}

.mentor-meetup-popup .meetup-option {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 3rem;
  transition: .25s ease-in-out background-color;
}

.mentor-meetup-popup .meetup-option:hover {
  background-color: #d3d3d3;
}

.mentor-meetup-popup .meetup-option img {
  margin-right: 2rem;

}

.mentor-meetup-popup .meetup-option h1 {
  color: var(--primary);
  margin: 0;
}

.mentor-meetup-popup .meetup-option p {
  color: var(--slate-grey);
  letter-spacing: 0.0125rem;
  margin: 0;
}

/* MEETUP OPTION */
.mentor-meetup-popup#coffee span.hr {
  margin: 0 auto;
}

.mentor-meetup-popup #meetup-form > * {
  margin-bottom: 1rem;
} 

textarea {
  resize: none;
}


/* BROWSER BUGFIXING/ISSUE FIXING */

/* Remove Firefox's automatic text outline when button is clicked */
button::-moz-focus-inner {
  border: 0;
}