.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem 3rem;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  input {
    width: 20rem;
    margin-bottom: 1.5rem;
  }

  button {
    margin-top: 1rem;
  }
}
