#categories-list p {
  color: var(--slate-grey);
}

#categories-list ul {
  margin-top: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

#categories-list ul .category-item {
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#categories-list ul .category-item #category-image {
  background-image: url('/media/category.jpg');
  width: 100%;
  height: 100%;
  background-position: 50% 40%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#categories-list ul .category-item h1 {
  position: absolute;
  font-size: 1.125rem;
  color: #fff;
  margin: 0;
  cursor: pointer;
}

@media (max-width: 720px) {
  #categories-list ul {
    grid-template-columns: repeat(2, 1fr);
  }
}